#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} 

.cardContainer{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr); 
} 

.card{
  width: 18rem;
}

.dogCard{
  width: 30rem;
}

.cardImg{
  height: 87%;
  width: 45%;
  border-radius: 3%;
}

.header{
  padding-bottom: 8%;
  font-size: calc(1rem + 3vw);
} 

@media (max-width: 1000px) {
  .cardContainer{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 650px) {
  .cardContainer{
    grid-template-columns: repeat(1, 1fr); 
  }

  .cardImg{
    height: 85%;
    width: 45%;
  }

  .header{
    font-size: calc(1.5rem + 2vw);
  }
}

@media (max-width: 550px) {
  .dogCard{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
  }
}